<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxp.springquartz.mapper.QuartzTaskInfoMapper">

    <select id="listJobAndTriggerDetails" resultType="com.cxp.springquartz.pojo.QuartzTaskInfo">
        SELECT
            QRTZ_JOB_DETAILS.JOB_NAME,
            QRTZ_JOB_DETAILS.JOB_GROUP,
            QRTZ_JOB_DETAILS.JOB_CLASS_NAME,
            QRTZ_TRIGGERS.TRIGGER_NAME,
            QRTZ_TRIGGERS.TRIGGER_GROUP,
            QRTZ_CRON_TRIGGERS.CRON_EXPRESSION,
            QRTZ_CRON_TRIGGERS.TIME_ZONE_ID
        from
            QRTZ_JOB_DETAILS JOIN QRTZ_TRIGGERS ON QRTZ_JOB_DETAILS.job_name = QRTZ_TRIGGERS.job_name
            JOIN QRTZ_CRON_TRIGGERS
            on  QRTZ_TRIGGERS.trigger_name = QRTZ_CRON_TRIGGERS.trigger_name
            and QRTZ_TRIGGERS.TRIGGER_GROUP = QRTZ_CRON_TRIGGERS.TRIGGER_GROUP
    </select>
</mapper>